@import '../../../node_modules/compass-mixins/lib/compass';
ng2-notify {
    right: 0;
    bottom: 0;
    position: fixed;
    ul {
        min-width: 200px;
        max-width: 300px;
        position: fixed;
        color: white;
        margin: 0;
        -webkit-margin-start: 0;
        -webkit-padding-start: 0;
        &.right-bottom {
            right: 2px;
            bottom: 2px;
        }
        &.right-top {
            right: 2px;
            top: 2px;
        }
        &.left-top {
            top: 2px;
            left: 2px;
        }
        &.left-bottom {
            bottom: 2px;
            left: 2px;
        } 
        
        li {
            @include border-radius(3px);
            margin: 2px 0;
            padding: 10px;
            text-align: left;
            right: -100px;
            bottom: 0;
            display: block;
            @include opacity(0);
            
            -webkit-transition: all 500ms cubic-bezier(0.465, 0.000, 0.545, 1.000); 
            -webkit-transition: all 500ms cubic-bezier(0.465, 0.000, 0.545, 1.000); 
                 -o-transition: all 500ms cubic-bezier(0.465, 0.000, 0.545, 1.000); 
                    transition: all 500ms cubic-bezier(0.465, 0.000, 0.545, 1.000); /* custom */

            -webkit-transition-timing-function: cubic-bezier(0.465, 0.000, 0.545, 1.000); 
               -moz-transition-timing-function: cubic-bezier(0.465, 0.000, 0.545, 1.000); 
                 -o-transition-timing-function: cubic-bezier(0.465, 0.000, 0.545, 1.000); 
                    transition-timing-function: cubic-bezier(0.465, 0.000, 0.545, 1.000); /* custom */
            &.animate {
                @include opacity(1);
            }
            &.default {
                background: #eee;
                color: #333;
            }
            &.success {
                background: #71AB80;
            }
            &.warning {
                background: #ABA471;
            }
            &.error {
                background: #AB7171;
            }
        }
    }
}